body {
    background-image: url(img/galaxybg.jpg);
    color: white;
    padding: 30px;
   
    text-align: center;
}
/*.star-wars{
    display: flex;
    height: 800px;
    perspective: 400px;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: center;
}
.crawl{
    position:relative;
    top:-100px;
    transform-origin: 50% 100%;
    animation: crawl 45s linear;
}
@keyframes crawl{
    0%{
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100%{
        top:-6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }*/

h1,
h2{
    text-shadow: 1px 1px #EBD71C;
}

#star {
    width: 50px;
}

#wars {
    width: 50px;
}

ul {
    text-align: left;
}

.lightCard {
    border: 2px;
    border: white;
    border-radius: 25%;
}

#light {
    color: rgb(11, 232, 18);
    border-color: rgb(11, 232, 18);
}

#dark {
    color: red;
    border-color: red;
}

button {
    background: black;
    border-radius: 20%;
    color: white;;
    margin: 15px;
    border-color: #EBD71C;;
}

img {
    margin: 15px;
}

#movies > p >img {
    height: 400px;
    width: auto;
}

#swday,
#fan {
    font-size: 30px;
    color: #EBD71C;
}
canvas{
    background-color: #EBD71C;
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {


}