body {
    background-image: url(img/galaxybg.jpg);
    color: white;
    padding: 30px;
   
    text-align: center;
}

h1,
h2{
    text-shadow: 1px 1px #EBD71C;
}

#star {
    width: 50px;
}

#wars {
    width: 50px;
}

ul {
    text-align: left;
}

.lightCard {
    border: 2px;
    border: white;
    border-radius: 25%;
}

#light {
    color: rgb(11, 232, 18);
    border-color: rgb(11, 232, 18);
}

#dark {
    color: red;
    border-color: red;
}

button {
    background: black;
    border-radius: 20%;
    color: white;;
    margin: 15px;
    border-color: #EBD71C;;
}
#nav{
    text-decoration: none;
    color: white;
    border: 1px; 
}
img {
    margin: 15px;
}

#movies > p >img {
    height: 400px;
    width: auto;
}

#swday,
#fan {
    font-size: 30px;
    color: #EBD71C;
}
canvas{
    background-color: #EBD71C;
}

