body {
    background-image: url(img/galaxybg.jpg);
    color: white;
    text-align: center;
    padding-top: 30px;
}

#star {
    width: 45px;
    height: 40x;
}

#wars {
    width: 50px;
}

ul {
    list-style: none;
}

.lightCard {
    border: 2px;
    border: white;
    border-radius: 25%;
}

#light {
    color: rgb(11, 232, 18);
    border-color: rgb(11, 232, 18);
}

#dark {
    color: red;
    border-color: red;
}

button {
    background: black;
    border-radius: 20%;
    color: white;
    margin: 15px;
}

img {
    margin: 15px;
}

#swday,
#fan {
    font-size: 30px;
    color: rgb(215, 215, 26)
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {


}